@charset "UTF-8";

body {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

.boardList {
	background-clip:border-box;
	background-origin:padding-box;
	background-color: rgb(102,102,102);
	background-size:auto;
	border-radius:2px;
	border-color: rgb(68,68,68);
	border-style:solid;
	color:white;
	cursor:pointer;
	font-size:14px;
	font-weight:700;
	height:35px;
}
	
.boardTitle{
	box-sizing: border-box;
	width: 100%;
	border:none;
	outline:none;
}

input[type=submit] {
	background-clip:border-box;
	background-origin:padding-box;
	background-color: rgb(59,72,144);
	background-size:auto;
	border-radius:2px;
	border-color: rgb(41,54,124);
	border-style:solid;
	color:white;
	cursor:pointer;
	font-size:14px;
	font-weight:700;
	height:35px;
}

.reply-form-textarea{
	background-color: rgba(0,0,0,0);
	border-color: rgb(0,0,0);
	border-style:none;
	box-sizing:border-box;
	color: rgb(0,0,0);
	color-scheme:light;
	font-family:QANrPkTKkPzwQk1u4aWP, -apple-system, BlinkMacSystemFont, NanumBarunGothic, system-ui, sans-serif;
	font-size:15px;
	line-height:22.5px;
	min-height:60px;
	outline-color: rgb(0,0,0);
	outline-offset:0px; 
	outline-style:none; /*border 밖 테두리 제거*/
	outline-width:0px;
	resize:none; /* textarea의 늘리진 대각선을 숨김*/
	text-size-adjust:100%;
	width:623px;
}